{% extends "base.html" %}

{% block container %}


<div class='d-flex flex-wrap container'>
    {% for i in categories %}

    <div class="card m-2 p-3" style="width: 18rem;">
        <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5>{{i.idCategory}} . {{i.strCategory}}</h5>

        <p class="card-text ">{{ i.strCategoryDescription|truncatewords:10 }}</p>        
        </div>
    </div>

{% endfor %}
</div>



{% endblock container %}