{% extends "base.html" %}
{% load static %}

{%block container %}
<div class="div1">
    <h1 class="text1">About US</h1>

    <img src="static/images/pasta.jpg" alt="">
</div>
<div class="contain1  d-flex">
    <div>
      <img class='img' src="../static/images/pasta.jpg" alt="">
    </div>
    <div>
      <h1>
        Assalamualykum 
      </h1>
      <p class ='para'>
        WE are the best halal food provider in the town
        <br>
        enjoy the delicious food of 
        <br>
        that will blow your mind 
        <br>
        <br> 
        join us

      <p>
  
        <a href="#" class="fa"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="fa"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="fa"><i class="fa-brands fa-instagram"></i></a>
        
  
    </div>
  </div>
{% endblock container %} 